test/
test*
Vorlag.synctex.gz
Vorlage.pdf
Vorlage.synctex.gz
/tmp/
*.aux
*.lof
*.log
*.lol
*.lot
*.nlo
*.nls
*.out
*.synctex.gz
*.toc
*.ind
*.ilg
*.bbl
*.blg
*.snm
*.nav
*.vrb
*.run.xml
*.bcf
/Test.pdf
